@{
    ViewData["Title"] = "Login";
}
<head>
  <link rel="stylesheet" href="~/ruta/a/login.css" />
</head>
<main>
<h1>Inicie sesión</h1>


<form action ='@Url.Action("IniciarSesion", "Home")' method="post" enctype="multipart/form-data">
  <label for="username">Usuario:</label>
  <input type="text" id="Email" name="Email" placeholder="Ingrese su Email">

  <label for="username">Contraseña:</label>
  <input type="password" id="Contraseña" name="Contraseña" placeholder="Ingrese contraseña">
  <button type="submit">Ingresar</button>
</form>
</main>